.forecastCard{
    min-width:120px;
    padding:15px;
    border-radius:18px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    text-align:center;
    transition:.35s;
    cursor:pointer;
    color:white;
    border:1px solid rgba(255,255,255,.2);
}

.forecastCard:hover{
    transform:translateY(-8px) scale(1.05);
    box-shadow:0 12px 25px rgba(0,0,0,.35);
}

.forecastIcon{
    font-size:40px;
    margin:10px 0;
}

.forecastDay{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
    color:#222;
}

.max{
    color:#ff5252;
    font-weight:bold;
}

.min{
    color:#64b5f6;
    font-weight:bold;
}